@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: #f8fafc;
}

.section {
  @apply max-w-7xl mx-auto px-6;
}

.card {
  @apply border border-slate-800 rounded-xl p-6 bg-slate-900;
}